:host {
  display: block;
  --popup-bg-color: black;
  --popup-text-color: white;
}

.popup {
  position: fixed;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  max-width: 400px;
  background-color: var(--popup-bg-color);
  color: var(--popup-text-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}

.popup p {
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.popup::before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: var(--popup-bg-color);
  border-width: 10px;
  margin-left: -10px;
}

.popup::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: var(--popup-text-color);
  border-width: 6px;
  margin-left: -6px;
}
